In [ ]:
import pandas as pd

Introduction About the Data :
The dataset The goal is to predict price of given diamond (Regression Analysis).

There are 10 independent variables (including id):

id : unique identifier of each diamond

carat : Carat (ct.) refers to the unique unit of weight measurement used exclusively to weigh gemstones and diamonds.

cut : Quality of Diamond Cut

color : Color of Diamond

clarity : Diamond clarity is a measure of the purity and rarity of the stone, graded by the visibility of these characteristics under 10-power magnification.

depth : The depth of diamond is its height (in millimeters) measured from the culet (bottom tip) to the table (flat, top surface)

table : A diamond's table is the facet which can be seen when the stone is viewed face up.

x : Diamond X dimension

y : Diamond Y dimension

x : Diamond Z dimension

Target variable:

price: Price of the given Diamond.

In [ ]:
data=pd.read_csv("/Users/reenal/personal/Mlops_DVC/archive/cubic_zirconia.csv")

In [ ]:
data.head(2)

In [ ]:
data["color"].value_counts()

In [ ]:
data.sample(10)

In [ ]:
data.isnull().sum()

In [ ]:
data.size

In [ ]:
data.shape

In [ ]:
data.info()

In [ ]:
data.columns

In [ ]:
data.drop(labels=["id"],axis=1,inplace=True)

In [ ]:
data

In [ ]:
data.duplicated().sum()

In [ ]:
data.info()

In [ ]:
cat_columns=data.columns[data.dtypes=="object"]

In [ ]:
num_columns=data.columns[data.dtypes!="object"]

In [ ]:
data[num_columns].describe().T

In [ ]:
data[cat_columns]

In [ ]:
for col in cat_columns:
    print(data[col].value_counts())
    print(f"here is the total count:{len(data[col].value_counts())}")
    print("=======================")

In [ ]:
data[num_columns]

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
plt.figure(figsize=(6,4))

for col in num_columns:
    sns.histplot(data=data,x=col,kde=True)
    print("\n")
    plt.show()

In [ ]:
sns.heatmap(data[num_columns].corr(),annot=True)

In [ ]:
data[cat_columns]

In [ ]:
# it is a oridinal encoding
cut_map={"Fair":1,"Good":2,"Very Good":3,"Premium":4,"Ideal":5}
clarity_map = {"I1":1,"SI2":2 ,"SI1":3 ,"VS2":4 , "VS1":5 , "VVS2":6 , "VVS1":7 ,"IF":8}
color_map = {"D":1 ,"E":2 ,"F":3 , "G":4 ,"H":5 , "I":6, "J":7}

In [ ]:
data["cut"]=data["cut"].map(cut_map)
data["clarity"]=data["clarity"].map(clarity_map)
data["color"]=data["color"].map(color_map)

In [ ]:
data

In [1]:
import pandas as pd
data=pd.read_csv("/Users/reenal/personal/Mlops_DVC/archive/cubic_zirconia.csv")

In [2]:
from sklearn.impute import SimpleImputer ## HAndling Missing Values
from sklearn.preprocessing import StandardScaler # HAndling Feature Scaling
from sklearn.preprocessing import OrdinalEncoder # Ordinal Encoding
## pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [3]:
data.columns

Index(['Unnamed: 0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x',
       'y', 'z', 'price'],
      dtype='object')

In [4]:
X=data.drop(labels=["price"],axis=1)
y=data["price"]

In [5]:
X

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z
0,1,0.30,Ideal,E,SI1,62.1,58.0,4.27,4.29,2.66
1,2,0.33,Premium,G,IF,60.8,58.0,4.42,4.46,2.70
2,3,0.90,Very Good,E,VVS2,62.2,60.0,6.04,6.12,3.78
3,4,0.42,Ideal,F,VS1,61.6,56.0,4.82,4.80,2.96
4,5,0.31,Ideal,F,VVS1,60.4,59.0,4.35,4.43,2.65
...,...,...,...,...,...,...,...,...,...,...
26962,26963,1.11,Premium,G,SI1,62.3,58.0,6.61,6.52,4.09
26963,26964,0.33,Ideal,H,IF,61.9,55.0,4.44,4.42,2.74
26964,26965,0.51,Premium,E,VS2,61.7,58.0,5.12,5.15,3.17
26965,26966,0.27,Very Good,F,VVS2,61.8,56.0,4.19,4.20,2.60
26966,26967,1.25,Premium,J,SI1,62.0,58.0,6.90,6.88,4.27

In [6]:
y

0         499
1         984
2        6289
3        1082
4         779
         ...
26962    5408
26963    1114
26964    1656
26965     682
26966    5166
Name: price, Length: 26967, dtype: int64

In [7]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26967 entries, 0 to 26966
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  26967 non-null  int64
 1   carat       26967 non-null  float64
 2   cut         26967 non-null  object
 3   color       26967 non-null  object
 4   clarity     26967 non-null  object
 5   depth       26270 non-null  float64
 6   table       26967 non-null  float64
 7   x           26967 non-null  float64
 8   y           26967 non-null  float64
 9   z           26967 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 2.1+ MB

In [8]:
X.select_dtypes(include="object")

             cut color clarity
0          Ideal     E     SI1
1        Premium     G      IF
2      Very Good     E    VVS2
3          Ideal     F     VS1
4          Ideal     F    VVS1
...          ...   ...     ...
26962    Premium     G     SI1
26963      Ideal     H      IF
26964    Premium     E     VS2
26965  Very Good     F    VVS2
26966    Premium     J     SI1

[26967 rows x 3 columns]

In [9]:
X.select_dtypes(exclude="object")

       Unnamed: 0  carat  depth  table     x     y     z
0               1   0.30   62.1   58.0  4.27  4.29  2.66
1               2   0.33   60.8   58.0  4.42  4.46  2.70
2               3   0.90   62.2   60.0  6.04  6.12  3.78
3               4   0.42   61.6   56.0  4.82  4.80  2.96
4               5   0.31   60.4   59.0  4.35  4.43  2.65
...           ...    ...    ...    ...   ...   ...   ...
26962       26963   1.11   62.3   58.0  6.61  6.52  4.09
26963       26964   0.33   61.9   55.0  4.44  4.42  2.74
26964       26965   0.51   61.7   58.0  5.12  5.15  3.17
26965       26966   0.27   61.8   56.0  4.19  4.20  2.60
26966       26967   1.25   62.0   58.0  6.90  6.88  4.27

[26967 rows x 7 columns]

In [10]:
cat_cols=X.select_dtypes(include="object").columns

num_cols=X.select_dtypes(exclude="object").columns

In [11]:
cat_cols

Index(['cut', 'color', 'clarity'], dtype='object')

In [12]:
num_cols

Index(['Unnamed: 0', 'carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [13]:
X.select_dtypes(include="object").head()

         cut color clarity
0      Ideal     E     SI1
1    Premium     G      IF
2  Very Good     E    VVS2
3      Ideal     F     VS1
4      Ideal     F    VVS1

In [14]:
X["clarity"].value_counts()

clarity
SI1     6571
VS2     6099
SI2     4575
VS1     4093
VVS2    2531
VVS1    1839
IF       894
I1       365
Name: count, dtype: int64

In [15]:
cut_categories = ['Fair', 'Good', 'Very Good','Premium','Ideal']
color_categories = ['D', 'E', 'F', 'G', 'H', 'I', 'J']
clarity_categories = ['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

In [16]:
num_pipeline=Pipeline(
    steps=[
        ("imputer",SimpleImputer()),
        ("scaler",StandardScaler())
    ]
)

In [17]:
cat_pipeline=Pipeline(

    steps=[
        ("imputer",SimpleImputer(strategy="most_frequent")),
        ("ordinalencoder",OrdinalEncoder(categories=[cut_categories,color_categories,clarity_categories]))

    ]
)

In [18]:
num_cols

Index(['Unnamed: 0', 'carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [19]:
cat_cols

Index(['cut', 'color', 'clarity'], dtype='object')

In [20]:
preprocessor=ColumnTransformer(

    [
        ("num_pipeline",num_pipeline,num_cols),
        ("cat_pipeline",cat_pipeline,cat_cols)
    ]
)

In [21]:
X

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z
0,1,0.30,Ideal,E,SI1,62.1,58.0,4.27,4.29,2.66
1,2,0.33,Premium,G,IF,60.8,58.0,4.42,4.46,2.70
2,3,0.90,Very Good,E,VVS2,62.2,60.0,6.04,6.12,3.78
3,4,0.42,Ideal,F,VS1,61.6,56.0,4.82,4.80,2.96
4,5,0.31,Ideal,F,VVS1,60.4,59.0,4.35,4.43,2.65
...,...,...,...,...,...,...,...,...,...,...
26962,26963,1.11,Premium,G,SI1,62.3,58.0,6.61,6.52,4.09
26963,26964,0.33,Ideal,H,IF,61.9,55.0,4.44,4.42,2.74
26964,26965,0.51,Premium,E,VS2,61.7,58.0,5.12,5.15,3.17
26965,26966,0.27,Very Good,F,VVS2,61.8,56.0,4.19,4.20,2.60
26966,26967,1.25,Premium,J,SI1,62.0,58.0,6.90,6.88,4.27

In [22]:
y

0         499
1         984
2        6289
3        1082
4         779
         ...
26962    5408
26963    1114
26964    1656
26965     682
26966    5166
Name: price, Length: 26967, dtype: int64

In [23]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30, random_state=42)

In [24]:
X_test.shape

(8091, 10)

In [25]:
y_train.head()

19040     5567
396      13088
15626      544
16597    15254
5811       491
Name: price, dtype: int64

In [26]:
preprocessor.fit_transform(X_train)

array([[ 0.71509329,  0.78796449, -0.96571264, ...,  1.        ,
         0.        ,  1.        ],
       [-1.6778051 ,  0.85115314, -0.4608357 , ...,  4.        ,
         2.        ,  6.        ],
       [ 0.2769172 , -1.02344341, -0.10020932, ...,  2.        ,
         5.        ,  5.        ],
       ...,
       [-1.61825217, -0.85494035,  0.        , ...,  4.        ,
         3.        ,  6.        ],
       [ 0.29860781, -0.98131764, -0.4608357 , ...,  4.        ,
         6.        ,  2.        ],
       [ 1.30728559, -1.02344341,  0.4767929 , ...,  4.        ,
         1.        ,  3.        ]])

In [27]:
preprocessor.transform(X_test)

array([[-0.45517315,  0.64052431, -0.89358736, ...,  2.        ,
         2.        ,  2.        ],
       [ 1.55140127, -0.81281458,  1.27017095, ...,  1.        ,
         1.        ,  1.        ],
       [ 1.14903394, -1.1498207 , -1.3984643 , ...,  3.        ,
         4.        ,  6.        ],
       ...,
       [ 0.55722668,  1.69366844, -1.1099632 , ...,  3.        ,
         5.        ,  3.        ],
       [-0.27779782, -0.56005999, -0.82146209, ...,  4.        ,
         0.        ,  3.        ],
       [-1.62659471, -1.00238053, -0.02808404, ...,  4.        ,
         1.        ,  6.        ]])

In [28]:
preprocessor.get_feature_names_out()

array(['num_pipeline__Unnamed: 0', 'num_pipeline__carat',
       'num_pipeline__depth', 'num_pipeline__table', 'num_pipeline__x',
       'num_pipeline__y', 'num_pipeline__z', 'cat_pipeline__cut',
       'cat_pipeline__color', 'cat_pipeline__clarity'], dtype=object)

In [29]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [30]:
X_train

,num_pipeline__Unnamed: 0,num_pipeline__carat,num_pipeline__depth,num_pipeline__table,num_pipeline__x,num_pipeline__y,num_pipeline__z,cat_pipeline__cut,cat_pipeline__color,cat_pipeline__clarity
0,0.715093,0.787964,-0.965713,3.365840,0.964420,0.934381,0.813401,1.0,0.0,1.0
1,-1.677805,0.851153,-0.460836,-1.095845,1.008892,1.041947,0.957195,4.0,2.0,6.0
2,0.276917,-1.023443,-0.100209,0.688829,-1.259163,-1.252793,-1.257232,2.0,5.0,5.0
3,0.401542,2.936379,0.548918,-0.649677,2.298570,2.252064,2.366376,4.0,5.0,1.0
4,-0.982807,-1.044506,0.260417,-0.203508,-1.294740,-1.279684,-1.257232,4.0,4.0,3.0
...,...,...,...,...,...,...,...,...,...,...
18871,1.040453,-0.812815,-0.677212,-0.203508,-0.850024,-0.831493,-0.897747,4.0,2.0,4.0
18872,-1.036841,-0.981318,-1.470590,0.688829,-1.072382,-1.073516,-1.199714,2.0,4.0,4.0
18873,-1.618252,-0.854940,0.000000,-0.649677,-0.947861,-0.921131,-0.912126,4.0,3.0,6.0
18874,0.298608,-0.981318,-0.460836,-0.649677,-1.099065,-1.055588,-1.113438,4.0,6.0,2.0
18875,1.307286,-1.023443,0.476793,-1.542014,-1.223585,-1.270720,-1.199714,4.0,1.0,3.0

In [31]:
X_test

,num_pipeline__Unnamed: 0,num_pipeline__carat,num_pipeline__depth,num_pipeline__table,num_pipeline__x,num_pipeline__y,num_pipeline__z,cat_pipeline__cut,cat_pipeline__color,cat_pipeline__clarity
0,-0.455173,0.640524,-0.893587,1.134997,0.822111,0.844743,0.712745,2.0,2.0,2.0
1,1.551401,-0.812815,1.270171,-1.095845,-0.921178,-0.894240,-0.782712,1.0,1.0,1.0
2,1.149034,-1.149821,-1.398464,0.688829,-1.472627,-1.467924,-1.573579,3.0,4.0,6.0
3,0.598041,1.525165,0.765294,-0.649677,1.418031,1.409464,1.517991,4.0,4.0,5.0
4,0.081702,-0.791752,0.260417,-1.095845,-0.841129,-0.822529,-0.797091,4.0,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...
8086,-0.655009,-1.044506,-1.254214,1.134997,-1.241374,-1.279684,-1.357888,3.0,3.0,4.0
8087,-1.208954,-1.023443,-0.172335,-0.649677,-1.205797,-1.234865,-1.228473,4.0,4.0,5.0
8088,0.557227,1.693668,-1.109963,0.242660,1.693755,1.642523,1.489233,3.0,5.0,3.0
8089,-0.277798,-0.560060,-0.821462,-0.203508,-0.431990,-0.401229,-0.495124,4.0,0.0,3.0
8090,-1.626595,-1.002381,-0.028084,-1.095845,-1.196902,-1.181082,-1.185335,4.0,1.0,6.0

# model training

In [33]:

from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [34]:
models={

    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet(),
    'Randomforest':RandomForestRegressor()

}

In [35]:
trained_model_list=[]
model_list=[]
r2_list=[]

In [36]:
list(models)

['LinearRegression', 'Lasso', 'Ridge', 'Elasticnet', 'Randomforest']

In [37]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    print(model)

LinearRegression()
Lasso()
Ridge()
ElasticNet()
RandomForestRegressor()

In [38]:
models.keys()

dict_keys(['LinearRegression', 'Lasso', 'Ridge', 'Elasticnet', 'Randomforest'])

In [39]:
list(models.values())[1]

Lasso()

In [40]:
def evaluate_model(true,pred):
    r2=r2_score(true,pred)
    mae=mean_absolute_error(true,pred)
    mse=mean_squared_error(true,pred)

    return mae, mse,r2

In [41]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    
    model.fit(X_train,y_train)

    #make_prediction
    y_pred=model.predict(X_test)

    #this is for the validaiton
    MAE,MSE,R2=evaluate_model(y_test,y_pred)


    print("model training performance",model)
    print("MSE:", MSE)
    print("MAE:",MAE)
    print("R2 SCORE:",R2)

    r2_list.append(R2)

    print("="*40)
    print("\n")

model training performance LinearRegression()
MSE: 2518461.3372265813
MAE: 835.8863759105554
R2 SCORE: 0.847847836549479
========================================

/Users/reenal/anaconda3/envs/mlopstest/lib/python3.8/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.557e+08, tolerance: 3.029e+07
  model = cd_fast.enet_coordinate_descent(

model training performance Lasso()
MSE: 1870799.8090826152
MAE: 830.8083544722572
R2 SCORE: 0.8869761333528337
========================================


model training performance Ridge()
MSE: 2438514.7711333195
MAE: 835.4807410885907
R2 SCORE: 0.8526777868098732
========================================


model training performance ElasticNet()
MSE: 2819611.623077807
MAE: 1082.6897273144377
R2 SCORE: 0.8296539231315085
========================================


model training performance RandomForestRegressor()
MSE: 322958.873343431
MAE: 287.97033617599806
R2 SCORE: 0.9804885266418824
========================================

In [42]:
r2_list

[0.847847836549479,
 0.8869761333528337,
 0.8526777868098732,
 0.8296539231315085,
 0.9804885266418824]

In [43]:
max(r2_list)

0.9804885266418824

In [44]:
import logging
import os
from datetime import datetime

In [45]:
LOG_FILE=f"{datetime.now().strftime('%m_%d_%Y_%H_%M_%S')}.log"

log_path=os.path.join(os.getcwd(),"logs")

os.makedirs(log_path,exist_ok=True)

LOG_FILEPATH=os.path.join(log_path,LOG_FILE)

In [46]:
LOG_FILEPATH

'/Users/reenal/personal/Mlops_DVC/experiments/logs/07_04_2024_15_59_21.log'

In [47]:
logging.basicConfig(level=logging.INFO, 
                    filename=LOG_FILEPATH,
                    format="[%(asctime)s] %(lineno)d %(name)s - %(levelname)s - %(message)s"
                    
)

In [48]:
logging.info("this is my test log")